<main class="contenedor">
	<form class="default-form" action="/iniciar-sesion" method="POST">
		<div class="campo">
			<label>Email</label>
			<input type="email" name="email" placeholder="Tu email" required>
		</div>
		<div class="campo">
			<label>Password</label>
			<input type="password" name="password" placeholder="Tu password" required>
		</div>
		<div class="campo acciones">
			<a href="/crear-cuenta">Regístrate gratis</a>
			<a href="/reestablecer-password">¿ Olvidaste tu contraseña ?</a>	
		</div>
		<div class="campo">
			<input type="submit" class="btn btn-azul" value="Login">
		</div>
	</form>
</main>